<tr>
  <td><%= item.product.name %></td>
  <td><%= item.product.price %></td>
  <td class="cart-<%= item.product.id %>-qty"><%= item.quantity %></td>
  <td class="cart-<%= item.product.id %>-subtotal"><%= item.subtotal %></td>
</tr>