<h1>My Orders</h1>

<table>
  <tr>
    <th>#</th>
    <th>訂單日期</th>
    <th>訂購商品</th>
    <th>訂單金額</th>
    <th>付款方式</th>
    <th>金流狀態</th>
    <th>訂單狀態</th>
    <th></th>
    <th></th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.created_at.strftime('%Y-%m-%d %H:%M')%></td>
      <td><%= order.products.limit(3).pluck(:name).join(", ")+"..." %></td>
      <td>$ <%= order.amount %></td>
      <td><%= order.payment_method %></td>
      <td><%= order.payment_status %></td>
      <td><%= order.order_status %></td>
      <td><%= link_to '瀏覽', order_path(order) %></td>
      <td>
        <% if order.order_status != "shipped" %>
          <%= link_to '取消訂單', order_path(order), method: :patch %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>