<h1>Product Index</h1>

<section id="my-cart">
  <strong>你目前選購了 <span id="cart-total-qty"><%= current_cart.total_quantity %></span> 件商品，預計消費 <span id="cart-total"><%= current_cart.total %></span> 元</strong>
  <table>
    <tr>
      <th>商品</th>
      <th>單價</th>
      <th>數量</th>
      <th>小計</th>
    </tr>
    <% current_cart.cart_items.each do |item| %>
        <!-- current_cart 類似 devise current_user，但這方法是自己撰寫，方法則撰寫在 application_controller 裡-->
      <%= render partial: 'shared/item', locals: { item: item }%>
    <% end %>
  </table>
  <%= link_to '我要結帳！', new_order_path %>
</section>

<%= paginate @products %>

<% @products.each do |product| %>
  <div class="product-box product_<%= product.id.to_s %>">
    <%= link_to product_path(product) do %>
      <%= image_tag(product.image_url, width: 50 ) %><br>
    <% end %>
    <%= button_to 'Add to Cart', add_to_cart_product_path(product), remote: true %>
    <div class="msg"></div>
    <%= product.name %><br>
    $<%= product.price %>
  </div>
<% end %>
