<h1>Product Index</h1>

<section id="my-cart">
  <strong>你目前選購了 <%= current_cart.total_quantity %> 件商品，預計消費 <%= current_cart.total %> 元</strong>
  <table>
    <tr>
      <th>商品</th>
      <th>單價</th>
      <th>數量</th>
      <th>小計</th>
    </tr>
    <% current_cart.cart_items.each do |item| %>
    <!-- current_cart 類似 devise current_user，但這方法是自己撰寫，方法則撰寫在 application_controller 裡-->
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.product.price %></td>
        <td><%= item.quantity %></td>
        <td><%= item.subtotal %></td>
      </tr>
    <% end %>
  </table>
</section>

<%= paginate @products %>

<% @products.each do |product| %>
  <div class="product-box">
    <%= link_to product_path(product) do %>
      <%= image_tag(product.image_url, width: 50 ) %><br>
    <% end %>
    <%= button_to 'Add to Cart', add_to_cart_product_path(product) %>
    <%= product.name %><br>
    $<%= product.price %>
  </div>
<% end %>

